{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="main-wrapper">
        <div class="insert-wrapper">
            <h2 class="title">Insert Students</h2>
            <div class="insert-field">
                <form action="" method="post">
                    <div class="input-field student">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="student" placeholder="student name">
                    </div>
                    <div class="insert-notes">
                        <div class="side">
                            <div class="input-field note">
                                <input type="number" name="note1" placeholder="note 1">
                            </div>
                            <div class="input-field note">
                                <input type="number" name="note2" placeholder="note 2">
                            </div>
                            <div class="input-field note">
                                <input type="number" name="note3" placeholder="note 3">
                            </div>
                        </div>
                        <div class="side">
                            <div class="input-field note">
                                <input type="number" name="note4" placeholder="note 4">
                            </div>
                            <div class="input-field note">
                                <input type="number" name="note5" placeholder="note 5">
                            </div>
                            <div class="input-field note">
                                <input type="number" name="note6" placeholder="note 6">
                            </div>
                        </div>
                    </div>
                    <input class="submit" type="submit" value="submit">
                </form>
            </div>
        </div>
        <div class="inserted-student-wrapper">
            <h2 class="title">Student List</h2>
            <div class="student-list">
                <div class="student-card">
                    <p class="student-name">Youssef Bouhdyd</p>
                    <div class="result">
                        <div class="notes">
                            <div>
                                <label class="note">
                                    OOP: 
                                    <input type="number" name="note1-update" disabled>
                                </label>
                                <label class="note">
                                    SI: 
                                    <input type="number" name="note2-update" disabled>
                                </label>
                                <label class="note">
                                    Compilation: 
                                    <input type="number" name="note3-update" disabled>
                                </label>
                            </div>
                            <div>
                                <label class="note">
                                    Networking: 
                                    <input type="number" name="note4-update" disabled>
                                </label>
                                <label class="note">
                                    Data Base: 
                                    <input type="number" name="note5-update" disabled>
                                </label>
                                <label class="note">
                                    RO: 
                                    <input type="number" name="note6-update" disabled>
                                </label>
                            </div>
                        </div>
                        <div class="grade"><span class="grad-value">15.23</span><sub>/20</sub></div>
                    </div>
                    <div class="actions">
                        <button class="action-update">update <i class="fa-solid fa-pen"></i></button>
                        <button class="action-delete">delete <i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
                <div class="student-card">
                    <p class="student-name">Youssef Bouhdyd</p>
                    <div class="result">
                        <div class="notes">
                            <div>
                                <label class="note">
                                    OOP: 
                                    <input type="number" name="note1-update" disabled>
                                </label>
                                <label class="note">
                                    SI: 
                                    <input type="number" name="note2-update" disabled>
                                </label>
                                <label class="note">
                                    Compilation: 
                                    <input type="number" name="note3-update" disabled>
                                </label>
                            </div>
                            <div>
                                <label class="note">
                                    Networking: 
                                    <input type="number" name="note4-update" disabled>
                                </label>
                                <label class="note">
                                    Data Base: 
                                    <input type="number" name="note5-update" disabled>
                                </label>
                                <label class="note">
                                    RO: 
                                    <input type="number" name="note6-update" disabled>
                                </label>
                            </div>
                        </div>
                        <div class="grade"><span class="grad-value">15.23</span><sub>/20</sub></div>
                    </div>
                    <div class="actions">
                        <button class="action-update">update <i class="fa-solid fa-pen"></i></button>
                        <button class="action-delete">delete <i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
                <div class="student-card">
                    <p class="student-name">Youssef Bouhdyd</p>
                    <div class="result">
                        <div class="notes">
                            <div>
                                <label class="note">
                                    OOP: 
                                    <input type="number" name="note1-update" disabled>
                                </label>
                                <label class="note">
                                    SI: 
                                    <input type="number" name="note2-update" disabled>
                                </label>
                                <label class="note">
                                    Compilation: 
                                    <input type="number" name="note3-update" disabled>
                                </label>
                            </div>
                            <div>
                                <label class="note">
                                    Networking: 
                                    <input type="number" name="note4-update" disabled>
                                </label>
                                <label class="note">
                                    Data Base: 
                                    <input type="number" name="note5-update" disabled>
                                </label>
                                <label class="note">
                                    RO: 
                                    <input type="number" name="note6-update" disabled>
                                </label>
                            </div>
                        </div>
                        <div class="grade"><span class="grad-value">15.23</span><sub>/20</sub></div>
                    </div>
                    <div class="actions">
                        <button class="action-update">update <i class="fa-solid fa-pen"></i></button>
                        <button class="action-delete">delete <i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
                <div class="student-card">
                    <p class="student-name">Youssef Bouhdyd</p>
                    <div class="result">
                        <div class="notes">
                            <div>
                                <label class="note">
                                    OOP: 
                                    <input type="number" name="note1-update" disabled>
                                </label>
                                <label class="note">
                                    SI: 
                                    <input type="number" name="note2-update" disabled>
                                </label>
                                <label class="note">
                                    Compilation: 
                                    <input type="number" name="note3-update" disabled>
                                </label>
                            </div>
                            <div>
                                <label class="note">
                                    Networking: 
                                    <input type="number" name="note4-update" disabled>
                                </label>
                                <label class="note">
                                    Data Base: 
                                    <input type="number" name="note5-update" disabled>
                                </label>
                                <label class="note">
                                    RO: 
                                    <input type="number" name="note6-update" disabled>
                                </label>
                            </div>
                        </div>
                        <div class="grade"><span class="grad-value">15.23</span><sub>/20</sub></div>
                    </div>
                    <div class="actions">
                        <button class="action-update">update <i class="fa-solid fa-pen"></i></button>
                        <button class="action-delete">delete <i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
                <div class="student-card">
                    <p class="student-name">Youssef Bouhdyd</p>
                    <div class="result">
                        <div class="notes">
                            <div>
                                <label class="note">
                                    OOP: 
                                    <input type="number" name="note1-update" disabled>
                                </label>
                                <label class="note">
                                    SI: 
                                    <input type="number" name="note2-update" disabled>
                                </label>
                                <label class="note">
                                    Compilation: 
                                    <input type="number" name="note3-update" disabled>
                                </label>
                            </div>
                            <div>
                                <label class="note">
                                    Networking: 
                                    <input type="number" name="note4-update" disabled>
                                </label>
                                <label class="note">
                                    Data Base: 
                                    <input type="number" name="note5-update" disabled>
                                </label>
                                <label class="note">
                                    RO: 
                                    <input type="number" name="note6-update" disabled>
                                </label>
                            </div>
                        </div>
                        <div class="grade"><span class="grad-value">15.23</span><sub>/20</sub></div>
                    </div>
                    <div class="actions">
                        <button class="action-update">update <i class="fa-solid fa-pen"></i></button>
                        <button class="action-delete">delete <i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
                <div class="student-card">
                    <p class="student-name">Youssef Bouhdyd</p>
                    <div class="result">
                        <div class="notes">
                            <div>
                                <label class="note">
                                    OOP: 
                                    <input type="number" name="note1-update" disabled>
                                </label>
                                <label class="note">
                                    SI: 
                                    <input type="number" name="note2-update" disabled>
                                </label>
                                <label class="note">
                                    Compilation: 
                                    <input type="number" name="note3-update" disabled>
                                </label>
                            </div>
                            <div>
                                <label class="note">
                                    Networking: 
                                    <input type="number" name="note4-update" disabled>
                                </label>
                                <label class="note">
                                    Data Base: 
                                    <input type="number" name="note5-update" disabled>
                                </label>
                                <label class="note">
                                    RO: 
                                    <input type="number" name="note6-update" disabled>
                                </label>
                            </div>
                        </div>
                        <div class="grade"><span class="grad-value">15.23</span><sub>/20</sub></div>
                    </div>
                    <div class="actions">
                        <button class="action-update">update <i class="fa-solid fa-pen"></i></button>
                        <button class="action-delete">delete <i class="fa-regular fa-trash-can"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}